body {
  background-color: black;
  color: white;
  margin: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.container.large_font {
  font-size:x-large
}

.container {
  width: 88%;
  margin: 1em auto;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  line-height: 2;
  text-indent: 2em;
  position: relative;
}

.eraser {
  position: absolute;
  top: 0;
  top: -1px;  /* Fix erase effect */
  left: 0;
  right: 0;
  bottom: 0;
}

.text {
  --p: 0%;
  background: linear-gradient(to right,
      #0000 var(--p),
      #000 calc(var(--p) + 30px));
  background: linear-gradient(to right,
      #AAF0 var(--p),
      #000 calc(var(--p) + 30px));
  color: transparent;
  /* background: #FFF; */
  animation: erase 15s linear forwards;
  animation-delay: 3s;
}

@property --p {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

@keyframes erase {
  to {
    --p: 100%;
  }
}